@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

::-moz-selection {
  background: $theme-color-primary;
  color: $theme-color-third;
  text-shadow: none;
}

::selection {
  background: $theme-color-primary;
  color: $theme-color-third;
  text-shadow: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-default;
  color: $theme-color-third;
  line-height: 20px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  overflow-x: hidden;
}

body,
html {
  width: 100%;
  height: 100%;
}

.content-wrapper {
  width: 100%;
}

.center-content-wrapper {
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;

  .container {
    height: 100%;
  }
}

.main-content {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;

  .text-content {
    margin: 0 auto;
  }
}

.fa-heart {
  color: $red;
}

.section-title {
  @include type-primary(24);
  font-weight: bold;
  margin-bottom: 40px;
}

.subtitle {
  @include type-primary(18);
  color: $theme-color-secondary;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 300;
}

.link {
  color: $theme-color-third;
  font-weight: bold;
}

/* menu */
.sidebar-wrapper {
  background: $theme-color-secondary;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
  transition: 0.3s;
  z-index: 99999;

  .sidebar-btn {
    background: $theme-color-secondary;
    color: $white;
    border: 0;
    font-size: 28px;
    position: absolute;
    right: -53px;
    top: 10px;
    cursor: pointer;
    outline: none;
    padding-top: 5px;
    width: 44px;
    height: 44px;
    z-index: 99999;
  }

  &.close {
    left: 0;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
  }
}

.perfil {
  text-align: center;
  margin-top: 10px;

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .name {
    color: $white;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    @include type-primary(18);
  }
}

.lista-menu {
  margin-top: 40px;

  ul li {
    display: block;
    margin: 0;
    line-height: 48px;

    a {
      display: block;
      padding: 0 15px;
      transition: all 0.5s ease 0.2s;
      margin-left: 20px;
      color: $theme-color-third;
      font-weight: bold;

      i {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        @include type-primary(24);
      }
    }

    &.active {
      border-left: 4px solid $theme-color-primary;
      background-color: $black;
    }

    .home {
      color: #bcaaa4 !important;

      &:hover {
        color: $theme-color-third !important;
        margin-left: 40px;
      }
    }

    .about {
      color: #ffcc80 !important;

      &:hover {
        color: $theme-color-third !important;
        margin-left: 40px;
      }
    }

    .project {
      color: #4db6ac !important;

      &:hover {
        color: $theme-color-third !important;
        margin-left: 40px;
      }
    }

    .contact {
      color: #b2dfdb !important;

      &:hover {
        color: $theme-color-third !important;
        margin-left: 40px;
      }
    }
  }
}

/* social */
.social {
  margin-bottom: 0;
  margin-top: 5px;

  li {
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: $theme-color-third;
  }

  .twitter:hover {
    color: $twitter;
  }

  .linkedin:hover {
    color: $linkedin;
  }

  .github:hover {
    color: $github;
  }

  .skype:hover {
    color: $skype;
  }
}


/* anime */
[data-anime] {
  opacity: 0;
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.anime {
  opacity: 1;
  transform: none;
  transition: transform .8s, opacity .8s;
}

/* footer */
.footer {
  text-align: center;
  margin-top: auto;
  font-weight: 500;
  padding: 12px;
  color: $theme-color-third;
  @include type-primary(14);
}

.footer hr {
  background: $theme-color-third;
  height: 1px;
  border: none;
}